
<mat-card class="example-card" passedQuery = "hellow">
  <mat-card-content class="fullwidth">
    <p>
      <b>Please Type Your Text (At Least 150 Character) In The Text Area To Anaylse.</b>
    </p>
    <mat-form-field class="fullwidth">
      <textarea minlength="150" rows="5" #text_to_analyse matInput placeholder="Your Comment" [(ngModel)] ="text" name="text_to_analyse"></textarea>
      <mat-hint align="end">
        {{text_to_analyse.value.length}} / 150
      </mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button mat-raised-button (click)="GetNextpage()" [disabled]="text_to_analyse.value.length < 3">Analyse</a>
  </mat-card-actions>
</mat-card>
<!--<h3>name : {{sentimentResult.probability}}</h3>
<h3>name : {{sentimentResult.result}}</h3>-->
<!--href="result/{{text}}"-->

<!--<h3>name : {{countryOBJ}}</h3>
<button (click)="sendToAnalysis()">click</button>-->




