<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="fullwidth">
  <mat-card class="example-card">
    <mat-card-header>
      <table class="tablewidth">
        <tr>
          <td>
            <div mat-card-avatar class="example-header-image">
              <img src="./assets/taitlePic.png">
            </div></td>
          <td>
            <mat-card-title><h1>Sentiment Analysis</h1></mat-card-title>
            <mat-card-subtitle><h3>A Web App To Check Expressed Opinion</h3></mat-card-subtitle>
          </td>
        </tr>
      </table>
    </mat-card-header>
  </mat-card>

  <router-outlet></router-outlet>

</div>

