<div style="text-align:center" class="fullwidth">
  <mat-card class="example-card">
    <img mat-card-image src="./assets/sentimentPic.gif" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Welcome to the <b>Sentiment Analysis</b> Web App.In this app one can check the opinion of someone expressed by a sentence.<br>
        <span class="note">Note:</span> This <b>ML Model</b> is trained on <b>IMDb</b> movie review dataset.So it may not express 100% accurate sentiment of a Text.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button mat-raised-button routerLink="/analyser">Start</a>
    </mat-card-actions>
  </mat-card>

</div>
